$color-white: #fff;
$color-whiteE: #eee;
$color-whiteD: #ddd;
$color-black0: #000;
$color-black3: #333;
$color-black5: #555;
$color-black6: #666;
$color-black9: #999;
$color-green: #60d3a3;
$color-graylight: #fafafa;
$color-bluegray: #607D8B;
$color-blue1: #8383fd;
$color-blue2: #dde4ff;
$color-red1: #f44336;

$pixelScaler-height: 640px;

@mixin flex-centering($flexdir) {
    display: flex;
    flex-direction: $flexdir;
    justify-content: center;
    align-items: center;
}
@mixin absolute-centering {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}